<h1 class="text-center">Damion Weather</h1><br>
<div id="error" style="color:red;">&nbsp</div>
<%= form_with url: get_forecast_path, id: 'forecast-form' do |form|  %>
   <%= form.label :zipcode  %>
   <%= form.text_field :zipcode, id: 'zipcode-field', maxlength: '5'  %>
   <%= form.hidden_field :celsius, id: 'celsius-field', value: '0' %>
   <%= link_to 'Fahrenheit', '', class: 'btn btn-sm btn-primary', id: 'celsius-toggle' %>
   <%= form.submit 'Get Forecast', class: 'btn btn-sm btn-success', id: 'get-forecast' %>
   
   <%= link_to 'Save Location', '', class: 'btn btn-sm btn-primary', id: 'save-location' %>
   
   <%= link_to 'Refresh', '', class: 'btn btn-sm btn-primary', id: 'refresh' %>
<% end %>
<br>
<table class="table">
   <thead>
   <tr>
      <th scope="col">Location</th>
      <th scope="col">Current</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Average</th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <th scope="row" id="location"></th>
      <td id="current"></td>
      <td id="high"></td>
      <td id="low"></td>
      <td id="average"></td>
   </tr>
   </tbody>
</table>

<br>
<h3>Locations</h3>
<div id="locations">
   <% @locations.each do |location| %>
      <%= link_to location.zipcode, "", class: "btn btn-sm btn-primary location", data:{zipcode: location.zipcode} %>
   <% end %>
   
</div>

<script type="text/javascript" charset="utf-8">
   $.ajaxSetup({
      headers: {
         'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
   });
   
   $(document).ready(function () {
   
      $('#forecast-form').submit(function (event) {
         event.preventDefault();
         event.stopImmediatePropagation();
         var formData = {
            'zipcode': $('#zipcode-field').val(),
            'celsius': $('#celsius-field').val()
         };
         GetForecast(formData);
      });
   
      $(document).on('click', '#refresh', function(event) {
         event.preventDefault();
         event.stopImmediatePropagation();
         var formData = {
            'zipcode': $('#zipcode-field').val(),
            'celsius': $('#celsius-field').val()
         };
         GetForecast(formData);
      });
   
      $(document).on('click', '.location', function(event) {
         event.preventDefault();
         event.stopImmediatePropagation();
         var formData = {
            'zipcode': this.dataset["zipcode"],
            'celsius': $('#celsius-field').val()
         };
         $('#zipcode-field').val(formData['zipcode']);
         GetForecast(formData);
      });
      
         $('#save-location').click(function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
            var formData = {
               'zipcode': $('#zipcode-field').val()
            };
            $.ajax({
               type: 'POST',
               url: 'locations',
               data: formData,
               dataType: 'json',
               encode: true
            })
               .done(function (data) {
                  console.log(data);
                  if (data["error"]) {
                     $('#error').text(data["error"]);
                  } else {
                     $('#error').text('');
                     RefreshLocations();
                  }
               });

         });
      
      $('#celsius-toggle').click(function(event) {
         event.preventDefault();
         event.stopImmediatePropagation();
         var celsius = $('#celsius-field');
         // debugger
         if(celsius.val() === '0'){
            //currently F
            $(this).text('Celsius');
            celsius.val('1');
         }
         else {
            //currently C
            $(this).text('Fahrenheit');
            celsius.val('0');
         }
      })
         


      });
   
      function RefreshTable(forecast) {
         $('#location').text(forecast["zipcode"]);
         $('#current').text(forecast["current_temp"]);
         $('#high').text(forecast["high"]);
         $('#low').text(forecast["low"]);
         $('#average').text(forecast["average"]);
      }
   
      function RefreshLocations() {
         $("#locations").load(window.location.href + " #locations");
      }
      
      function GetForecast(formData) {
         $.ajax({
            type: 'POST',
            url: 'get_forecast',
            data: formData,
            dataType: 'json',
            encode: true
         })
            .done(function (data) {
               console.log(data);
               if (data["error"]) {
                  $('#error').text(data["error"]);
               } else {
                  $('#error').text('');
                  RefreshTable(data["forecast"]);
               }
            });
      }
   
      $("#refresh-btn").on("click", RefreshTable);

</script>
